.regular-text {
	color:#2d2b2c; 
	font-size: 14px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.list-text {color:#848c8e;
}

.title-text {color:#d1518f;
}

body {background-color: #dce7ef;
}

body {font-family: "Courier New";
}

h1 {font-family: "Helvetica Neue"}

h1 {color: #fcfcfc}

h3 {color: #0c0c0c}

h3 {font-family: "Helvetica Neue"}

h3 {font-size: 24px}


h5 {color: #98999b;}

h5 {font-family: "Helvetica Neue"}


    

.top-container {
	background-color: #d4d6d8;
	font-size: 36px;
    width: 100%; 
    margin: :10px; 
    padding: 10px;
    


}

.contacts {
font-size: 24px;
text-align: center;
font-family: "Helvetica Neue" 


}

.right-container {}

.portrait {
	width: 300px; 
	height: 225px;
	margin:auto;
	display: block;
}

.keywords {
	width: 100%
	margin:40px;
	text-align: center;
	font-size: 18px;
}

.logo {
	width: 150px; 
	height: 150px;
	margin:auto;
	display: block;
	border-radius: 100%
}

.book {
	width: 150px;
	height: 150px;
	margin:auto;
	display: block;
	border-radius: 100%

}

.social-media {
	width: 40px;
	height:40px;
	margin: auto;
	display: block;

}

.row {display: inline;}

li{
display:inline;
}

ul {
display:inline;
}

div img { display: inline; }

.footer {
  position: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #d4d6d8;
  text-align: center;
  font-family: "Helvetica Neue";
  clear: left;

}

article {
	float:left;
	float: left;
    width: 100%}

}

@media only screen and (min-width: 760px) {

	.regular-text {
		font-size: 16px;
		margin-left: 130px;
	    margin-right: 130px;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.keywords {
		font-size: 24px;
	}
	.portrait {
		width: 400px; 
	    height: 300px;
	}

	.book {
	width: 200px;
	height: 200px;


}

.logo {
		width: 200px; 
		height: 200px;

}

.top-container {
	font-size: 48px
}

}
