.regular-text {
	color:#2d2b2c; 
	font-size: 14px;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.list-text {
	color:#848c8e;
}

.title-text {
	color:#d1518f;
}

body {background-color: #f4f9fc;
}

body {font-family: "Courier New";
}

h1 {
	font-family: "Helvetica Neue";
}

h1 {
	color: #fcfcfc
}

h3 {
	color: #f215d8
}

h3 {
	font-family: "Helvetica Neue";
}

h3 {
	font-size: 24px;
}


h5 {
	color: #98999b;
}

h5 {
	font-family: "Helvetica Neue";
}



.top-container {
	background-color: #d4d6d8;
	font-size: 36px;
    width: 100%; 
    margin: :10px; 
    padding: 10px;
    


}

.contacts {
font-size: 24px;
text-align: center;
font-family: "Helvetica Neue"; 
}


.portrait {
	width: 300px; 
	height: 225px;
	margin:auto;
	display: block;
}

.keywords {
	width: 100%;
	text-align: center;
}

.logo {
	width: 150px; 
	height: 150px;
	margin:auto;
	display: block;
	border-radius: 100%;
}

.book {
	width: 150px;
	height: 150px;
	margin:auto;
	display: block;
	border-radius: 100%

}

.social-media {
	width: 40px;
	height:40px;
	margin: auto;
	display: block;

}


li{
display:inline;
}

ul {
display:inline;
}

div img { display: inline; }

.footer {
  position: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #d4d6d8;
  text-align: center;
  font-family: "Helvetica Neue";
  clear: left;

}

@media only screen and (min-width: 760px) {

	.top-container {
	font-size: 48px;
       
}

.portrait {
	width: 400px;
	height:300px;
}

.logo {
	width: 200px; 
	height: 200px;
	
}

.book {
	width: 200px;
	height: 200px;
	
}

.regular-text {
	font-size: 18px;
	margin-left: 100px;
	margin-right: 100px;
}

.keywords {
	font-size: 24px;
}



}
